<nav class=" navbar-expand-lg bg-light">
  <div class="-fluid">
    <a class="navbar-brand" href="/">Logo</a>
    <a class=" active" aria-current="page" href="/write">글쓰기</a>
    <span>|</span>
    <a class="" href="/list">리스트</a>
    <span>|</span>
    <a class="" href="/mypage">마이페이지</a>
    <span>|</span>
    <a class="" href="/search">검색</a>
    <span>|</span>
    <a class="" href="/upload">이미지 업로드</a>
    <span>|</span>
    <a class="" href="/login">로그인</a>
    <span>|</span>
    <a class="" href="/register">회원가입</a>


    <div style="float: right;margin-top: 8px;margin-right: 10px;">
      <a class="" href="/chat">채팅하기</a>
    </div>




  </div>
</nav>